:root {
    --footer-color: #C8C8C8;
    --secondary-color: #DBD9D2;
    --item-availability-color: #009D17;
    --btn-text-color: #30FF0E;
    --btn-color: #130A4F;
    --background-color: #FCF8FB;
    }

.return-arrow {
    grid-area: return-arrow;
    width: 30px;
    height: 30px;
}

.data-wrapper {
    grid-area: data-wrapper;
    width: 351px;
    height: 262px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin: auto;
    font-size: 20px;
    border-radius: 5px;;
    background-color: var(--secondary-color);

        h2 {
            font-family: "Space Grotesk", sans-serif;
            font-weight: 550;
            margin-bottom: -10px;
            margin-top: -15px;
            font-size: 24px;
        }

        .info-field {
            font-family: "Space Grotesk", sans-serif;
            font-weight: 400;
            padding-left: 8px;
            padding-right: 8px;
            width: 320px;
            height: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: -15px;
            text-align: center;
            background-color: var(--background-color);
            border-radius: 10px;

                .info-title {
                    text-align: left;
                }

                .info-detail {
                    text-align: center;
                    width: calc(100% - 100px);
                }

        }
}

.info-field:nth-child(5) .info-detail {
    font-size: 14px;
}

.return-btn {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    width: 141px;
    height: 34px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 11px;
    padding: 5px;
    border: none;
    text-align: center;
    color: var(--btn-text-color);
    background-color: var(--btn-color);
}

.rent-btn {
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    width: 89px;
    height: 35px;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    font-size: 12px;
    border: none;
    text-align: center;
}

.rented-tools {
    grid-area: rented-tools;
    width: 350px;
    height: 592px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    margin-top: 17px;
    padding-bottom: 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    h2 {
        font-size: 24px;
        font-family: "Space Grotesk", sans-serif;
    }

    .currently-rented {

        .rented-item {
            width: 325px;
            height: 148px;
            border-radius: 5px;
            display: flex;
            background-color: var(--background-color);
            margin-bottom: -10px;

            h3 {
                font-size: 1rem;
            }
        
            h3, p {
                font-family: "Space Grotesk", sans-serif;
                font-weight: 400;
                background-color: var(--background-color);
                text-align: center;
                margin-bottom: -5px;
                width: 145px;
            }


        }
    }

    .past-rentals-container {

        background-color: var(--secondary-color);

        .item1 {
            margin-top: -10px;
        }

        .item1, .item2 {
            width: 325px;
            height: 148px;
            border-radius: 5px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            background-color: var(--background-color);
        }
    }

}

.image {
    width: 107px;
    height: 115px;
    /* margin-left: auto;
    margin-right: auto;  */
    margin: auto;
}

.item-info {
    background-color: var(--secondary-color);
    border-radius: 5px;
    width: 177px;
    height: 128px;
    margin: auto;
    padding-bottom: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 10px;
    }

    h3, p {
        font-family: "Space Grotesk", sans-serif;
        font-weight: 400;
        background-color: var(--background-color);
        text-align: center;
        margin-bottom: -5px;
        width: 145px;
        height: 25px;
    }
}

.footer_nav {
    grid-area: footer;
    background-color: var(--footer-color);
    width: 393px;
    height: 60px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .svg-icon {
        height: 29px;
        width: 29px;
    }
}